In [3]:
import sqlite3
import sys
import pandas
import matplotlib.pyplot as plt

In [6]:
## connect to database

con = sqlite3.connect('AuctionDatabase.db')
current = con.cursor()

In [7]:
pandas.read_sql_query("SELECT ItemID FROM Bids", con)

          ItemID
0     1043402767
1     1043495702
2     1043495702
3     1043495702
4     1043495702
...          ...
9869  1679249109
9870  1679249109
9871  1679249851
9872  1679249851
9873  1679249851

[9874 rows x 1 columns]